@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-indigo-100 selection:text-indigo-700;
    font-feature-settings: "cv11", "ss01";
  }
}

/* Custom Scrollbar (Light) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-50;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full border-2 border-slate-50;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}